<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('./template/all') -%>

    <!-- Page Required -->
    <link rel='stylesheet' href='/stylesheets/pages/index.css' />
    <script language="javascript" src="/javascripts/pages/index.js"></script>


  </head>
  <body>
    <%- include('./template/header') -%>

    <button id="arrow" class="animated pulse delay-1s indexscroll">	<img src="/images/mouse.png" style="width:2%;" title="Scroll Down"></button>

    <div id="pagepiling" class="text-white">
        <div class="section h-100 d-flex" id="section1">
            <div class="jumbotron w-50 m-auto text-center bg-transparent border-0 animated zoomIn">
              <h1 class="display-4 font-weight-bold titleFont">Explore Future On G2-MDS</h1>
              <p class="lead mt-3 textFont">MDS stands for Medical Data Services and we are an experienced safety data processing platform of Pharmacovigilance & Drug Safety, Clinical Trial, Post Marketing and Authority Regulatory</p>
              <button type="button" id="learn" class="btn btn-outline-primary d-block w-25 mx-auto">Learn More</button>
            </div>
        </div>
        <div class="section" id="section2">

            <div class="row mx-5" style="margin-top: 200px;">
                <div class="col mx-5 mt-5">
                    <div class="card" id="sc2text" style="background-color: #343a4073;">
                        <div class="card-body">
                          <p class="indexTitle titleFont">More Efficient, <br> More Reliable</p>
                          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                          <p class="card-text indexText textFont">G2-MDS provides comprehensive solutions to small and middle size company. Generally, the clients who use our system will reduce at least 30% - 50% costs. The system is similar to Argus and ArisG but we more efficient and 100% e2b compliance guarantee. Worry-free about data transfer, all of your data can be migrated to ArisG or Argus smoothly and securely. </p>
                        </div>
                    </div>
                </div>
                <div class="col mx-5">
                    <img class="w-75" id="sc2pic" src="/images/eff.png">
                </div>
            </div>

        </div>
        <div class="section" id="section3">

            <div class="mx-5" id="fea">
                <h1 class="titleFont" style="margin-top: 180px;">Sure, we have more features here</h1>
                <div class="row my-4">
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/workflow.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Flexible Workflow</h5>
                                <p class="card-text textFont">Any companies could design workflow based on their needs by our built-in flexible workflow</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/team.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Team Works</h5>
                                <p class="card-text textFont">Various companies and areas can work together around in our system</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/notification.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Mobile Alerts</h5>
                                <p class="card-text textFont">The client could check case status or get alerts from the Mobile device</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/english.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Multi-Language Supports</h5>
                                <p class="card-text textFont">Language support for English, Simplified Chinese, and Japanese</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/data-collecting.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Data Collection</h5>
                                <p class="card-text textFont">Collecting data from wearable devices on triage period for telemedicine service and online medical care</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/resume.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Reports Submission</h5>
                                <p class="card-text textFont">The system would generate kinds of reports to authority for electronic submission</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/database.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">EDC Function</h5>
                                <p class="card-text textFont">EDC (Electronic data capture) function could convert information into our database automatically</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-card">
                            <img src="/images/analysis.png" class="card-img-top iconsize mx-auto my-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title titleFont">Line Listing</h5>
                                <p class="card-text textFont">Line listing by BI(Business Intelligence) can present multi-dimensions graphs that help you make the best decision</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section" id="section4">
            <div class="w-100 h-100 d-flex" id="sec4">
                <div class="m-auto">
                    <h5 class="textFont indexText">All You Need About Pharmacovigilance System Are All In</h5>
                    <h1 class="font-weight-bold indexTitle titleFont text-center" id="endTitle">G2-MDS</h1>
                </div>
            </div>
            <%- include('./template/footer') -%>
        </div>
    </div>

    <%- include('./template/aos') -%>

    <!-- Pagepiling Required -->
    <link rel="stylesheet" href="/stylesheets/pagepiling/jquery.pagepiling.min.css"/>
    <script language="javascript" src="/javascripts/pagepiling/jquery.min.js"></script>
    <script language="javascript" src="/javascripts/pagepiling/jquery.pagepiling.min.js"></script>

  </body>
</html>
